<div class="container">
    <h1>Les recettes</h1>
    <div class="btn-group d-block mb-2" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck1">Entrées</label>
    
      <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck2">Plats</label>
    
      <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck3">Desserts</label>
    </div>

    <div class="btn-group d-block mb-2" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck4">Sans gluten</label>

      <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck5">Végétarien</label>     
    </div>

    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck6">Sucré</label>

      <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck7">Salé</label>
    </div>
    <div class="cards-container d-flex flex-wrap justify-content-between">
        <div *ngFor="let recette of recetteList; let i = index" class="card" (click)="goToRecette(recette)">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ recette.recette_titre }}</h5>
              <p class="card-text">{{ recette.recette_description }}</p>
              <div class="d-flex">
                <ngb-rating [rate]="3" style="color: red;"></ngb-rating>
                <p class="ms-1">3/5</p>
              </div>
            </div>
        </div>
    </div>
    
</div>